@import '../../scss/_variable';
@import '../../scss/_mixin';

.o-feature-list {
    &-area {
        position: relative;
        margin: 0;
        padding: 0;
        padding-bottom: 150px;
        width: 100%;

        .o-eyecatch-area1{
            position: sticky;
            top: 0;
        }
    }

    &-item {
        width: 100%;
        position: relative;
        margin-bottom: 100px;

        &-bg-image {
            width: 50%;
            position: relative;
            @include mobileDevice () {
                width: 100%;
            }

            img {
                width: calc(200%*(.08/.84) + 100%);
                margin-left: calc((-1) * 200%*(.08/.84));

                @include mobileDevice () {
                    width: 100%;
                    margin-left: 0;
                }
            }
            .a-dash-line{
                position: absolute;
                top: 50%;
            }
        }

        &-mobile-image {
            position: absolute;
            top: 0;
            left: 50%;
            transform: translateX(-50%);
            height: 100%;

            @include mobileDevice () {
                height: unset;
                width: 45%;
                margin-left: 0;
                top: 102px;
                left: 100%;
                transform: translateX(-100%);
            }

            img {
                height: 100%;
            }

            video {
                position: absolute;
                width: 90%;
                left: 50%;
                top: 50%;
                transform: translate(-50%, -50%);
            }
        }

        &-text-content {
            position: absolute;
            right: 0;
            top: 0;
            width: 25%;

            @include mobileDevice () {
                position: relative;
                width: 100%;
            }
        }

        &-count {
            
            font-size: 10vw;
            font-family: 'montserrat_bold';
            transform: translateY(-3vw);
            text-align: right;
            width: 100%;
            color: #4B4A65;

            @include mobileDevice () {
                width: 50%;
            }
        }

        &-title {
            white-space: pre-wrap;
            font-family: montserrat_bold;
            color: #fff;
            margin-top: -7vw;
            font-size: 1.6vw;
            position: absolute
        }

        &-sub-title {

        
            padding-top: 3vw;
            color: rgb(255, 255, 255);
            letter-spacing: .1vw;
            width: 100%;
            position: relative;
            font-size: 1vw;
            font-family: montserrat_regular;
        }

        &-desc {
            margin-top: 4vw;
            padding-top: 1vw;
            color: hsla(0, 0%, 100%, .6);
            padding: 0;
            width: 100%;
            position: relative;
            font-size: 1.1vw;
            font-family: montserrat_regular;
            
        }
    }
}