@import '../../../scss/_variable';
@import '../../../scss/_mixin';

.inner-grid-line {
    height: calc(100% + 4rem);
    width: 1px;
    background-color: $gridColor;
    position: absolute;
    top: -4rem;
    white-space: nowrap;
    overflow: unset;
    padding-bottom: 4rem;

    &-1 {
        left: calc(25% - .5px);

        @include mobileDevice () {
            display: none;
        }
    }

    &-2 {
        left: calc(50% - .5px);
    }

    &-3 {
        left: calc(75% - .5px);

        @include mobileDevice () {
            display: none;
        }
    }
}