@import '../../scss/_variable.scss';

.o-eyecatch-video{
  &-area{
    position: relative;
    margin: 0;
    padding: 0;
    padding-bottom: 150px;
  }
  &-section{
    width: 100%;
    position: relative;
    video{
      width: inherit;
    }
  }
}