@import '../../scss/_variable';
@import '../../scss/_mixin';
.a-dash-line{
        height: 1px;
        width: 15px;
        background-color: $white;
        margin-top: calc(0.7rem + 0.5vw);
        float: right;
        font-style: normal;
}