.t-main-layout{
  z-index: 1;
  position: relative;

  &-bg-fix{
    position: fixed;
    background: url('../../assets/image/jajatv_bg.png');
    height: 100%;
    width: 100%;
    top: 0;
    background-size: 100%;
  }
  &-body{
    position: relative;
  }
}