@import '../../scss/_variable';
@import '../../scss/_mixin';

.o-header {
    &-area {
        position: fixed;
        top: 0;
        left: 0;
        width: 100%;
        background-color: #09090953;
        z-index: 99999999;
        padding-top: 20px;
        padding-bottom: 20px;

        &-content {
            display: flex;
            width: 100%;
        }


        .a-ectt-wrap {
            width: 30%;


        }


        .a-ectt-header {

            font-size: 1.5vw;
        }

        .a-ectt-header-desc {
            font-size: 0.7vw;

        }

        .o-header-fl-wrap {
            width: 70%;
            justify-content: end;

            .a-language-block {
                color: white;
                max-width: 5vw;
                font-size: 1vw;
                margin-left: 53%;
                margin-top: 20px;
                
            }

            .m-fii-wrap{
                margin-left: 90%;
                margin-top: -20px;
                width: 10vw;
                height: 40px;
            }




        }
    }


    &-logo1 {
        max-width: 40px;
        max-height: 40px;
        margin-right: 20px;
        margin-top: 10px;
    }





}