@import '../../scss/_variable';
@import '../../scss/_mixin';
.playPauseBar{
    width: 100px;
    height: 100px;
    transform:  translate(40px,-50px);
    box-sizing: border-box;
}

.playPauseButton{
    transform: translate(43px, -60px);
    padding: 0px;



}