
@import 'src/scss/_variable';
@import 'src/scss/_mixin';

.playPauseBar{
    width: 100px;
    height: 100px;
    transform:  translate(50px,-50px);
}

.playPauseButton{
    transform: translate(45px, -82px);
}