@import "src/scss/_variable";

.t-grid-main-layout{
    display: flex;

  &-side{
    width: 8%;
    height: 100%;
  }
  &-middle{
    width: 84%;
    height: 100%;
    background-color: transparent;
    border-left: 1px solid $gridColor;
    border-right: 1px solid $gridColor;
  }
}
