@import '../../scss/_variable.scss';

.a-ecmt{
  &-wrap{
      width: 35%;
  }
  &-header{
    margin-right: 20px;
    color: $white;
    &-desc{
      font-family: Conv_NotoSansCJKjp-Regular;
      font-size: 1.1vw;
      letter-spacing: .14rem;
      color: $white;
      margin-top: 30px;
    }

  }
}