@import '../../scss/_variable';
@import '../../scss/_mixin';
.a-ectt{
    &-wrap{
        display: flex;
        align-items: baseline;
    }
    &-header{
        //margin: 0;
        padding: 0;
        color: #fff;
        font-size: 1.5vw;
        //margin-top: 0.5rem!important;
        font-weight: bold;

        &-desc{
            color: #ffffff;
            padding-top: 0.5rem;
            margin-left: 0.5rem;
            font-size: .9vw;
            font-family: montserrat_bold;
        }
    }
}