@import '../../scss/_variable';
@import '../../scss/_mixin';

.m-play-store{
    &-area{
        padding-top: 10%;
        width: 25%;
        position: fixed;
    }
    &-text{
        margin-top: 100px;
        margin-right: 20px;
        color: $white;
        font-family: montserrat_regular;
        font-size: 1.3vw;
        padding-bottom: 2px;
    }
    &-buttons{
        display: flex;
        width: 80%;
        justify-content: space-between;
        gap: 30px;
        margin-top: 5%;
        .a-link{
            width: calc(50% - 15px);
            height: unset;
        }
    }
}