@import "src/scss/_variable";

.a-ecct{
  &-wrap{
    display: flex;
    align-items: baseline;
  }
  &-header{
    margin: 0;
    padding: 0;
    color: $white;
    &-desc{
      margin-top: 30px;
      color: $white;
      padding-left: 10px;
    }
  }
}