@import '../../scss/_variable';
@import '../../scss/_mixin';
.a-scroll-button{
        position: fixed;
        bottom: 5rem;
        right: 8.1%;
        z-index: 1;
        width: 44px;
        height: 36px;
        background-image: url(../../assets/image/scroll.png);
        background-size: 100% 100%;
        background-repeat: no-repeat;
        cursor: pointer;
        &-text{
                color: $white;
        }
}