@import '../../scss/_variable';
@import '../../scss/_mixin';

.a-ecmt{
    &-wrap{
        margin-left: 50%;
        //width: calc(140% + 3rem);
        margin-right: 15%;
        height: 9.5vw;
        padding-top: 5.4vw;
        bottom: calc(3.8vw - 2rem);

    }
    &-header{
        font-family: montserrat_bold;
        font-size: 2vw!important;
        letter-spacing: .8vw!important;
        overflow: hidden;
        white-space: nowrap;
        width: 100%;
        color: #fff;
        float: left;

        &-desc{
            font-size: 1.1vw;
            letter-spacing: .1rem;
            font-family: montserrat_regular!important;
            color: #FEFEFE;
        }
    }
}

