@import '../../scss/_variable';
@import '../../scss/_mixin';
.a-tdl{
    &-wrap{
        display: flex;
        align-items: start;

    }
    &-text{
        //margin-top: 0.7rem;
        font-family: montserrat_regular;
        font-size: calc(.2rem + .7vw);
        color: #fff;
        float: right;
        margin-right: 0.8rem;
        margin-top: calc(0.7rem + 0.0vw);
    }
}